*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #D14040;
}
span{
    font-weight: 700;
}
h1{
    font-weight: 400;
}
h3{
    font-weight: 400;
}

/* header */
.spotlight{
    height: 500px;
    background-color: #FFD35A;
    text-align: center;
    padding: 20px;
}
.spotlight p{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 80%;
}
.navbar{
    display: flex;
    max-width: 80%;
    padding-top: 40px;
    margin: 0 auto;
    justify-content: flex-end;
}
.navbar a{
    padding: 10px 24px;
    color: white;
}
.btn{
    border-radius: 10px;
    background-color: #D14040;
    padding: 10px;
    border: 0;
}
.btn a{
    color: white;
}
.header{
    padding-top: 50px;
    text-align: center;
}
.header h1{
    color: white;
}

/* post-main */
.container{
    text-align: center;
    align-content: center;
    padding: 50px;
}
.container-2{
    display: flex;
    height: 500px;
}
.container-3{
    background-color: whitesmoke;
}
.container input[type=text]{
    padding: 24px;
    border: solid 1px grey;
    border-radius: 40px;
    width: 70%;
}
.panel{
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    display: flex;
    height: 550px;
    width: 1000px;
    border-radius: 50px;
    box-shadow: 0 14px 8px 0 rgba(0,0,0,0.2);
    background-color: #D14040;
    font-size: 17px;
}
.con{
    text-align: center;
    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    background-color: white;
    height: 200px;
    width: 400px;
}
.app{
    text-align: right;
    padding: 40px 80px;
}
.app img{
    width: 50%;
}
.app-desc{
    padding: 40px;
}
.app-desc h3{
    color: grey;
}

/* footer */
.footer{
    margin: 0 auto;
    padding: 50px;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
}
.col{
    flex-grow: 3;
}
.copyright{
    background-color: #FFD35A;
    padding: 20px;
    text-align: center;
}